body {
    background-color: #f4f4f4;
}

h1 {
    font-weight: 300;
    color: #333;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}
